# Virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Scraper output junk files
*.txt
*.csv
scrape/*.html
scrape/*.md

# Ignore other project folders in this sandbox
/nba/
/vis/
/lib/
/Scripts/
